<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QQESPM - Spatial Pattern Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </head>

  <body>
    <h1 id="title">QQESPM - Spatial Pattern Search</h1>

    <main id="grid">
      <section class="section">
        <div class="limited-width">
          <h2 class="section-title">Spatial Pattern Builder</h2>

          <div class="poi-select">
            <label>First POI:</label>
            <input type="text" id="first-poi-input" class="poi-input" />
            <div id="first-poi-options" class="poi-options" hidden></div>
          </div>

          <div class="poi-select">
            <label>Second POI:</label>
            <input type="text" id="second-poi-input" class="poi-input" />
            <div id="second-poi-options" class="poi-options" hidden></div>
          </div>

          <div>
            <label>Distance (meters)</label>
            <div id="dist-input-group">
              <input type="number" id="min-dist-input" value="0" min="0" max="9999" />
              <span>to</span>
              <input type="number" id="max-dist-input" value="1000" min="0" max="9999" />
            </div>
          </div>
        </div>

        <div id="exclusion-group" hidden>
          <div>
            <input type="checkbox" id="left-exclusion-checkbox" />
            <span id="left-exclusion-label" class="exclusion"></span>
          </div>
          <div>
            <input type="checkbox" id="right-exclusion-checkbox" />
            <span id="right-exclusion-label" class="exclusion"></span>
          </div>
        </div>

        <div class="limited-width">
          <label>Relation:</label>
          <select id="relation-select">
            <option value="null">No relation</option>
            <option value="intersects">Intersects</option>
            <option value="contains">Contains</option>
            <option value="within">Within</option>
            <option value="disjoint">Disconnected</option>
          </select>
        </div>

        <div id="btn-group" class="limited-width">
          <button id="add-relationship-btn" disabled>Add relationship</button>
          <button id="search-pattern-btn" disabled>Search pattern</button>
        </div>
      </section>

      <section id="spatial-pattern-wrapper" class="section">
        <div id="spatial-pattern-drawing"></div>
      </section>

      <section class="section">
        <h2 class="section-title">Query results</h2>
        <p>
          Show the id, location and description for each result of the search pattern in a table.
        </p>
      </section>

      <section class="section">
        <div id="leaflet-map"></div>
      </section>
    </main>

    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
  </body>
</html>
