<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QQESPM - Spatial Pattern Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    <h1 class="title">QQESPM - Spatial Pattern Search</h1>

    <div class="main">
      <div class="section">
        <p class="section-title">Spatial Pattern Builder</p>

        <div class="poi-keywords-container">
          <label>First POI:</label>
          <input type="text" id="first-poi-keyword-input" class="poi-keyword-input" />
          <div id="first-poi-keywords-select" class="poi-keywords-select" hidden></div>
        </div>

        <div class="poi-keywords-container">
          <label>Second POI:</label>
          <input type="text" id="second-poi-keyword-input" class="poi-keyword-input" />
          <div id="second-poi-keywords-select" class="poi-keywords-select" hidden></div>
        </div>

        <label>Distance (meters)</label>
        <div id="distance-container">
          <input type="number" id="min-distance-input" value="0" min="0" max="9999" />
          <span>to</span>
          <input type="number" id="max-distance-input" value="1000" min="0" max="9999" />
        </div>

        <div id="exclusion-constraint-container" hidden>
          <div>
            <input type="checkbox" id="left-exclusion-constraint-checkbox" />
            <span id="left-exclusion-constraint-label" class="exclusion-constraint"></span>
          </div>
          <div>
            <input type="checkbox" id="right-exclusion-constraint-checkbox" />
            <span id="right-exclusion-constraint-label" class="exclusion-constraint"></span>
          </div>
        </div>

        <div id="relation-container">
          <span>Relation:</span>
          <select id="relation-select">
            <option value="null">No relation</option>
            <option value="intersects">Intersects</option>
            <option value="contains">Contains</option>
            <option value="within">Within</option>
            <option value="disjoint">Disconnected</option>
          </select>
        </div>

        <div id="button-container">
          <button id="add-relationship-button" disabled>Add relationship</button>
          <button id="search-pattern-button" disabled>Search pattern</button>
        </div>

        <!-- <br />

        <label>First POI type:</label>
        <select id="first-poi-keyword-dropdown">
          <option value="school">school</option>
          <option value="bank">bank</option>
          <option value="hospital">hospital</option>
          <option value="pharmacy">pharmacy</option>
        </select>
        <br />

        <label>Second POI type:</label>
        <select id="second-poi-keyword-dropdown">
          <option value="school">school</option>
          <option value="bank">bank</option>
          <option value="hospital">hospital</option>
          <option value="pharmacy">pharmacy</option>
        </select>
        <br />

        <label>Minimum distance (meters):</label>
        <input type="number" id="dmin" value="0" />
        <br />

        <label>Maximum distance (meters):</label>
        <input type="number" id="dmax" value="500" />
        <br />

        <label>Sign:</label>
        <select id="sign-dropdown">
          <option value="-">-</option>
          <option value="&gt;">&gt;</option>
          <option value="&lt;">&lt;</option>
          <option value="&lt;&gt;">&lt;&gt;</option>
        </select>
        <br />

        <label>Relation:</label>
        <select id="relation-dropdown">
          <option value="none">None</option>
          <option value="contains">Contains</option>
          <option value="within">Within</option>
          <option value="intersects">Intersects</option>
          <option value="disjoint">Disjoint</option>
        </select>
        <br />

        <button id="add-relationship">Add the POI Relationship</button>
        <button id="search">Search Pattern</button> -->
      </div>

      <div id="spatial-pattern-container" class="section">
        <div id="spatial-pattern-drawing"></div>
      </div>

      <div class="section">
        <p class="section-title">Query results</p>
        Show the id, location and description for each result of the search pattern in a table.
      </div>
      <div class="section folium-map">
        <iframe id="map-iframe" class="map" , src="/map"></iframe>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
  </body>
</html>
