<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QQESPM - Spatial Pattern Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>QQESPM - Spatial Pattern Search</h1>

    <div id="main">
        <div id="query-region">
            <div id="left-pannel">
                <p><b>Spatial Pattern Builder</b></p>
                <br>

                <label for="first-poi-keyword">First POI type:</label> 
                <select name="first-poi-keyword" id="first-poi-keyword-dropdown"> 
                    <option value="school">school</option> 
                    <option value="bank">bank</option> 
                    <option value="hospital">hospital</option> 
                    <option value="pharmacy">pharmacy</option> 
                </select>
                <br>

                <label for="second-poi-keyword">Second POI type:</label> 
                <select name="second-poi-keyword" id="second-poi-keyword-dropdown"> 
                    <option value="school">school</option> 
                    <option value="bank">bank</option> 
                    <option value="hospital">hospital</option> 
                    <option value="pharmacy">pharmacy</option> 
                </select>
                <br>

                <label for="dmin">Minimum distance (meters):</label>
                <input type="number" id="dmin" name="dmin" value=0>
                <br>

                <label for="dmax">Maximum distance (meters):</label>
                <input type="number" id="dmax" name="dmax" value=500>
                <br>

                <label for="sign">Sign:</label> 
                <select name="sign" id="sign-dropdown"> 
                    <option value="-">-</option> 
                    <option value="&gt;">&gt;</option> 
                    <option value="&lt;">&lt;</option> 
                    <option value="&lt;&gt;">&lt;&gt;</option> 
                </select>
                <br>

                <label for="relation">Relation:</label> 
                <select name="relation" id="relation-dropdown"> 
                    <option value="none">None</option> 
                    <option value="contains">Contains</option> 
                    <option value="within">Within</option> 
                    <option value="intersects">Intersects</option> 
                    <option value="disjoint">Disjoint</option> 
                </select>
                <br>

                <button id="add-relationship">Add the POI Relationship</button>
                <button id="search">Search Pattern</button>
            </div>
            <div id="drawing">
                <p>The spatial pattern draw appears here</p>
            </div>
        </div>
        <div id="result-region">
            <div id="results-table">
                Show the id, location and description for each result of the search pattern in a table.
            </div>
            <div class="folium-map" id="map-visualization">
                <iframe id="map-iframe" class="map" , src="/map"></iframe>
            </div>
        </div>
    
        <div class="description">
            <p id='p-text-description'>
            </p>
        </div>

    </div>


    <script>
    var spatial_pattern = {
        'vertices': [],
        'edges': []
    }
    var added_keywords = new Set();

    window.onload = function () {
        // searchPattern()
        document.getElementById("search").onclick = searchPattern
        document.getElementById("add-relationship").onclick = addRelationship

        function addRelationship(){
            let wi = document.getElementById("first-poi-keyword-dropdown").value
            let wj = document.getElementById("second-poi-keyword-dropdown").value

            if(wi == wj){
                console.log("The second POI keyword should be different than the first one!")
                return;
            }
            if(!added_keywords.has(wi)){
                spatial_pattern.vertices.push({'id': spatial_pattern.vertices.length, 
                                              'keyword': wi})
            }
            added_keywords.add(wi);
            if(!added_keywords.has(wj)){
                spatial_pattern.vertices.push({'id': spatial_pattern.vertices.length, 
                                              'keyword': wj})
            }
            added_keywords.add(wj);

            let id_wi, id_wj;
            spatial_pattern.vertices.forEach((value, index) => {
                if(value['keyword'] == wi) id_wi = index;
                if(value['keyword'] == wj) id_wj = index;
            });

            let lij = document.getElementById('dmin').value
            let uij = document.getElementById('dmax').value
            let sign = document.getElementById('sign-dropdown').value
            let relation = document.getElementById('relation-dropdown').value
            let relationship_already_added = false;

            spatial_pattern.edges.forEach((value, index) => {
                if(((value['vi']==id_wi)&&(value['vj']==id_wj))||((value['vj']==id_wi)&&(value['vi']==id_wj))){
                    relationship_already_added = true;
                    return;
                }
            });

            let edge = {
                'id': id_wi + "-" + id_wj,
                'vi': id_wi,
                'vj': id_wj,
                'lij': Number(lij),
                'uij': Number(uij),
                'sign': sign,
                'relation': relation
            }
            if(relationship_already_added) console.log('Relationship already added!')
            else spatial_pattern.edges.push(edge);
            spatial_pattern_json = JSON.stringify(spatial_pattern)
            document.getElementById('drawing').innerHTML = spatial_pattern_json


            console.log('Current pattern:', spatial_pattern)
        }

        function searchPattern() {
            // const contentWindow = document.getElementById('map-iframe').contentWindow
            // let mapKey

            // Object.keys(contentWindow).forEach((key) => {
            //     if (key.startsWith("map")) {
            //         mapKey = key
            //     }
            // })
            // const mapa = contentWindow[mapKey]
            //let bounds = mapa.getBounds()
            //let [north, east] = [bounds['_northEast']['lat'], bounds['_northEast']['lng']]


            sp = '{"vertices": [{"id": 0, "keyword": "school"}, {"id": 1, "keyword": "bakery"}, {"id": 2, "keyword": "restaurant"}], "edges": [{"id": "0-1", "vi": 0, "vj": 1, "lij": 0, "uij": 1000, "sign": "-", "relation": null}, {"id": "1-2", "vi": 1, "vj": 2, "lij": 356, "uij": 2918, "sign": ">", "relation": null}]}'
            spatial_pattern_json = JSON.stringify(spatial_pattern)
            document.getElementById('drawing').innerHTML = spatial_pattern_json
            console.log('spatial_pattern_json to be submitted: ', spatial_pattern_json)

            // http://127.0.0.1:5000
            fetch("/search", {
                method: "POST",
                body: JSON.stringify({'method': 'qqespm', 'spatial_pattern': spatial_pattern_json}),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                }).then(res => res.json())
                .then(data => data['solutions'])
                .then(text => document.getElementById('p-text-description').innerHTML = new Date().toLocaleString() + text)
                // document.getElementById('p-text-description').innerHTML = res;

                spatial_pattern = {
                    'vertices': [],
                    'edges': []
                }
                added_keywords = new Set();
        }
        
    }
    </script>


</body>

</html>